@charset "UTF-8";
html {
    scroll-behavior: smooth;
}

html body {
    background-color: #333;
    font-family: 'Ubuntu', 'M PLUS Rounded 1c', sans-serif;
    color: #eee;
}

a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: none;
    color: #ccc;
}

.anchor {
    display: block;
    padding-top: 3rem;
    margin-top: -3rem;
    content: "";
}

.line-dark {
    border-top: 1px solid rgba(0, 0, 0, 1);
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;
}

.line-bright {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(255, 255, 255, 1) 0 1px 0;
}

.line-invisible {
    visibility: hidden;
}

.side-margin {
    margin-left: 1rem;
    margin-right: 1rem;
}

.text-dark {
    text-shadow: -1px 1px 0 rgba(255, 255, 255, 1);
}

.text-bright {
    text-shadow:1px -1px 0 rgba(0, 0, 0, 1);
}

.container-ex {
    margin-top: 30vh;
    background-color: rgba(85, 85, 85, 0.5);
}

/* ゴーストボタン */
.btn-ghost {
    border-radius: 0.125rem;
    background: transparent;
    margin-bottom: 1rem;
}

.btn-ghost
.btn-default {
    color: #eee;
    border: #eee;
}

.btn-ghost
.btn-primary {
    color: #337ab7;
    /* color: #16FFCE; */
}

.btn-ghost
.btn-success {
    color: #5cb85c;
}

.btn-ghost
.btn-info {
    color: #5bc0de;
}

.btn-outline-secondary {
    background-color: transparent;
}