@charset "UTF-8";
html body {
    background-color: #eee;
    font-family: 'Ubuntu', 'M PLUS Rounded 1c', sans-serif;
    color: #333;
}

.jumbotron-ex {
    position: relative;
    height: 100vh;
    background-image: url(../images/sample.png);
    background-size: cover;
}