@charset "UTF-8";
/* navbar */
.navbar {
    background-color: #333;
}

.navbar-brand {
    margin-left: 10rem;
}

.navbar-nav {
    margin-right: 10rem;
}

/* contents */
section {
    margin: 1rem;
}

/* jumbotron */
.jumbotron {
    background-image: url(../images/main_BG.png);
    background-size: cover;
    background-position: center 70%;
}

.text-accent {
    color: #16FFCE;
}

.jumbotron .lead {
    margin-left: 10rem;
}

/* accordion */
.card-body {
    color: #333;
}


/* code埋め込み部分 */
pre {
    width: 60vw;
    background-color: #555;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: rgba(0, 0, 0, .1) -1px 1px 2px inset;
    box-shadow: rgba(255, 255, 255, .1) -1px 1px;
    border-radius: 5px;
}

pre code {
    color: #eee;
}

/* footer */
.footer {
    background-color: #333;
    color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content:center;
}