@charset "UTF-8";
/* navbar */
.navbar {
    background-color: #333;
}

.navbar-brand {
    margin-left: 10rem;
}

.navbar-nav {
    margin-right: 10rem;
}

/* contents */
section {
    margin: 1rem;
}

/* jumbotron */
.jumbotron {
    background-image: url(../images/main_BG.png);
    background-size: cover;
    background-position: center 70%;
}

/* card */
.card-title {
    color: #333;    
}
.card-text {
    color: #333;
}

.card-header-dark {
    background-color: #444;
}

.card-header-dark .btn {
    text-decoration: none;
    color: #eee;
}

.card-body-dark {
    background-color: #222;
}

pre code {
    color: #eee;
}

/* footer */
.footer {
    background-color: #333;
    color: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content:center;
}