@charset "UTF-8";

section {
    margin: 1rem;
}

.jumbotron {
    margin-top: 2rem;
    background-image: url(../images/main_BG.png);
    background-size: cover;
    background-position: center 70%;
}

.card-title {
    color: #333;    
}
.card-text {
    color: #333;
}

.card-header-dark {
    background-color: #444;
}

.card-header-dark .btn {
    text-decoration: none;
    color: #eee;
}

.card-body-dark {
    background-color: #222;
}

pre code {
    color: #eee;
}