@charset "UTF-8";
/* jumbotron */
.jumbotron {
  position: relative;
  height: 90vh;
  background-color: #333;
  background-size: cover;
}

.contents_top {
  padding-top: 20vh;
}

.text-accent {
  color: #16FFCE;
}

.btn {
  margin: 0.3rem;
}

/* footer */
.footer {
  background-color: #333;
  color: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  justify-content:center;
}