<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="t's Web Labo">
    <meta name="keywords" content="パソコン, プログラミング, Ubuntu, Androidアプリ開発">
    <meta name="description" content="はじめまして、t's Web Laboの「たむ」と申します。
    「プログラミングって楽しい」を多くの方と共有したいと思っています。Webサイト作成をはじめとして様々なアプリケーション開発に挑戦します。
    現状私のスキルは高くはないですが、当サイトやYouTubeライブ配信を通して少しずつ成長していきますので応援して頂けると嬉しいです。">

    <!-- favicon -->
    <link rel="shortcut icon" href="../images/tsweblabo.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- custom CSS -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/lowerPage.css">
    <title>t's Web Labo</title>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
      <div class="navbar-brand">
          <img src="../images/tsweblabo_Logo02.png" width="30" height="30" class="d-inline-block align-top" alt="">
          t's Web Labo
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <!-- index -->
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- tools -->
          <li class="nav-item dropdown drop-hover">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ツール
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropright drop-hover">
                <a class="dropdown-item dropdown-toggle" href="../ubuntu/ubuntu001.html" type="button" data-toggle="dropdown">
                  Ubuntu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../ubuntu/ubuntu001.html">Ubuntuってなに？</a>
                  <a class="dropdown-item" href="../ubuntu/ubuntu002.html">Linuxコマンド</a>
                  <a class="dropdown-item" href="../ubuntu/ubuntu003.html">ShellScript</a>
                </div>
              </li>
              <li class="dropright drop-hover"> 
                <a class="dropdown-item dropdown-toggle" href="../vim/vim001.html" type="button" data-toggle="dropdown">
                  Vim
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../vim/vim001.html">インストールと設定</a>
                  <a class="dropdown-item" href="../vim/vim002.html">モード・基本操作</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- programming -->
          <li class="nav-item dropdown drop-hover">
            <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              プログラミング
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropright drop-hover">
                <a class="dropdown-item dropdown-toggle" href="../androidApp/androidApp001.html" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Androidアプリ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../androidApp/androidApp001.html">Basic-Tips</a>
                  <a class="dropdown-item" href="../androidApp/androidApp002.html">データベースアクセス</a>
                  <a class="dropdown-item" href="../androidApp/androidApp003.html">Androidアプリの紹介</a>
                </div>
              </li>
              <li class="dropright drop-hover">
                <a class="dropdown-item dropdown-toggle" href="../sqlite3/sqlite3_001.html" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  SQLite3
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../sqlite3/sqlite3_001.html">SQLite3とは</a>
                  <a class="dropdown-item" href="../sqlite3/sqlite3_002.html">データベースの操作</a>
                  <a class="dropdown-item" href="../sqlite3/sqlite3_003.html">テーブルの操作</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../sqlite3/sqlite3_004.html">データの追加（INSERT文）</a>
                  <a class="dropdown-item" href="../sqlite3/sqlite3_005.html">データの更新（UPDATE文）</a>
                  <a class="dropdown-item" href="../sqlite3/sqlite3_006.html">データの削除（DELETE文）</a>
                  <a class="dropdown-item" href="../sqlite3/sqlite3_007.html">データの取得（SELECT文）</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../sqlite3/sqlite3_008.html">テーブルの結合（JOIN句）</a>
                </div>
              </li>
              <li class="dropright drop-hover">
                <a class="dropdown-item dropdown-toggle" href="../javascriptNote/javascriptNote_001.html" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown", aria-haspopup="true" aria-expanded="false">
                  JavaScript
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_001.html">JavaScriptとは</a>
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_002.html">演算子</a>
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_003.html">配列</a>
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_004.html">代入</a>
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_005.html">条件分岐</a>
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_006.html">try...catch文</a>
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_007.html">繰り返し</a>
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_008.html">関数</a>
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_009.html">画面入出力</a>
                  <a class="dropdown-item" href="../javascriptNote/javascriptNote_010.html">処理の呼び出し</a>
                </div>
              </li>
              <li class="dropright drop-hover">
                <a class="dropdown-item dropdown-toggle active" href="../Nodejs/nodejs_001.html" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Node.js
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item active" href="../Nodejs/nodejs_001.html">Node.js</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../Nodejs/expressApp.html">Express</a>
                  <a class="dropdown-item" href="../Nodejs/express_generator.html">Express-generator</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- aboutme -->
          <li class="nav-item">
            <a class="nav-link" href="../aboutme.html">About me</a>
          </li>    
        </ul>
      </div>
    </nav>
    <section>
      <!--jumbotron-->
      <div class="jumbotron">
        <h1 class="display-4 text-accent text-bright">Node.js入門！！</h1>
        <p class="lead">
          サーバーサイドで動くJavaScript <strong>ー Node.js ー</strong><br>
          JavaScriptはブラウザでページに動きを追加するだけじゃない！！
        </p>
        <hr class="my-4">
        <p class="lead">
          Node.jsを使うことでより幅が広がるJavaScriptを楽しもう！！
        </p>
      </div>
      <h2 class="text-bright">Node.jsとは</h2>  
      <h3>「Node.js」はJavaScript実行環境</h3>     
      <p>
        Node.jsはフレームワークやライブラリではなくJavaScriptの実行環境です。<br>
        「実行環境」という言葉を聞いて「？？？」という方のために。<br>
        僕もあやふやなところがあるのでそこを理解していきましょう。
      </p>
      <h5>実行環境とは</h5>
      <p>
        プログラムの実行するための環境です。<br>
        ・・・そのままですね。<br>
        プログラムを動かすために必要なものが揃ってるパッケージとでもいえば分かりやすいでしょうか。<br>
        Node.js以外にも、Javaでいうところの「JRE」などプログラミング言語によってそれぞれ実行環境があります。<br>
        似たような言葉で「開発環境」とか「動作環境」というものがあるので混同しないよう注意しましょう。
      </p>  
      <h5>「開発環境」とは、「動作環境」とは</h5>
      <ul>
        <li>
          開発環境…動作環境に加えて開発するために必要なものが揃っているものです。<br>
          例：JavaでいうところのJDK
        </li>
        <li>
          動作環境…言葉は似ていますが、全く意味が違ってきます。<br>
          ソフトウェア等が正常に動作するために要求されるシステム条件＝必要スペック<br>
          例：CPU：Intel Core i5以上、メモリ8GB以上、ストレージ1GB以上・・・
        </li>
      </ul>
      <h5>「フレームワーク」とは、「ライブラリ」とは</h5>
      <ul>
        <li>
          フレームワーク…目的に沿った全体の処理の流れが既に作ってあり、<br>
          その中の一部を自分で実装して作り込んでいくもの
        </li>
        <li>
          ライブラリ…プログラムを組む上で使いたい部品や便利なものが入っている道具箱のようなもの
        </li>
      </ul>
      <hr class="line-dark">
      <h3>Node.jsでできること</h3>
      <ul>
        <li>サーバー構築</li>
        <ul>
          <li>データベースアクセス</li>
        </ul>
        <li>gulp</li>
        <li>Webサービスの開発</li>
        <li>スマホアプリの開発</li>
        <li>IoT関連の開発</li>
      </ul>
      <hr class="line-dark">
      <h5>本記事執筆時の環境</h5>
      <ul>
        <li>OS：Ubuntu 20.04 LTS</li>
        <li>node.js：ver 12.18.3</li>
        <li>SQLite3：ver 3.31.1</li>
      </ul>
      <hr class="line-dark">
      <h2 class="text-bright">node.jsの導入方法</h2>
      <p>
        上記環境で僕が実際にnode.jsを導入した方法を記載します。<br>
        後々のnode.jsのバージョン管理のことを考え、n packageでの導入を行いました。
      </p>
      <ol>
        <li>node.jsとnpmのインストール</li>
        <p>まずは下記の3つのコマンドを入力してnode.jsとnpm(Node Package Manager)をインストールしましょう。</p>
        <pre>
          <code>
            sudo apt-get update
            sudo apt-get install nodejs
            sudo apt-get install npm
          </code>
        </pre>
        <li>n packageを導入</li>
        <pre>
          <code>
            sudo npm cache clean
            sudo npm install n -g

            // インストール後
            sudo n stable
            sudo ln /usr/local/bin/node /usr/bin/node
          </code>
        </pre>
        <li>最初にインストールしたnode.js npmは使わないので、アンインストールしておく</li>
        <p>
          最初にインストールされたnode.jsはバージョン指定したものではなく、その時に選ばれた（おそらく最新のもの）がインストールされているためアンインストールします。<br>
          npmについても、後でnode.jsをインストールする際に同時にインストールされるようです。
        </p>
        <pre>
          <code>
            sudo apt-get purge -y nodejs npm
          </code>
        </pre>
        <li>n packageでバージョンを管理する</li>
        <pre>
          <code>
            sudo n インストールしたいバージョン
            sudo ln -sf /usr/local/bin/node /usr/bin/node
          </code>
        </pre>
        <li>node.jsが正常にインストールされたかを確認</li>
        <pre>
          <code>
            node --version

            v12.18.3
          </code>
        </pre>
      </ol>
      <hr class="line-dark">
      <h2 class="text-bright">Gulpを使ってPugやSassをコンパイルする</h2>
      <h3>Gulpとは</h3>
      <p>
        Gulpとは、Node.jsベースのタスクランナー（自動化プログラムのひとつ）です。
      </p>
      <h3>Gulpでできること</h3>
      <ul>
        <li>HTML、CSS、JSファイルの圧縮</li>
        <li>SassやLess、pugファイルのコンパイル</li>
        <li>JavaScriptの構文チェック</li>
        <li>…and more</li>
      </ul>
      <h3>Gulpの導入方法</h3>
      <p>
        GulpはNode.jsベースなので、「Node.js」と「npm」がインストールされていることが前提です。
      </p>
      <h5>Gulpをグローバル環境にインストール</h5>
      <p>
        初めてGulpを使う方はこの手順から行います。
      </p>
      <ul>
        <li>Gulpをグローバル環境にインストール</li>
        <pre>
          <code>
            sudo npm install -g gulp
          </code>
        </pre>
        <li>インストールされたGulpのバージョン確認</li>
        <pre>
          <code>
            // どちらのコマンドでも確認できます。
            gulp -v

            gulp --version
          </code>
        </pre>
      </ul>
      <h5>プロジェクトごとに必要な手順</h5>
      <ul>  
        <li>プロジェクトのディレクトリ作成</li>
        <pre>
          <code>
            // プロジェクトディレクトリをつくる ディレクトリ名：testGulp
            mkdir testGulp
            // testGulpに移動
            cd testGulp
          </code>
        </pre>
        <li>package.jsonファイルの作成</li>
        <pre>
          <code>
            npm init
          </code>
        </pre>
        <li>Gulp本体をローカル環境にもインストール</li>
        <pre>
          <code>
            npm install --save-dev gulp
          </code>
        </pre>
        <li>必要なプラグインのインストール</li>
        <pre>
          <code>
            npm install --save-dev gulp-notify
            npm install --save-dev gulp-plumber
            npm install --save-dev gulp-pug
            npm install --save-dev gulp-sass
            npm install --save-dev gulp-autoprefixer
            npm install --save-dev gulp-uglify
            npm install --save-dev browser-sync
          </code>
        </pre>
        <li>ディレクトリ構成</li>
        <ul class="directory">
          <li>dist/</li>
          <ul class="directory">
            <li>css/</li>
            <li>js/</li>
          </ul class="directory">
          <li>src/</li>
          <ul class="directory">
            <li>js/</li>
            <li>pug/</li>
            <li>scss/</li>
          </ul>
          <li>gulpfile.js</li>
          <li>package.json</li>
        </ul>
        <li>gulpfile.js</li>
        <pre>
          <code>
            const gulp          = require('gulp');
            const notify        = require('gulp-notify');
            const plumber       = require('gulp-plumber');
            const sass          = require('gulp-sass');
            const pug           = require('gulp-pug');
            const autoprefixer  = require('gulp-autoprefixer');
            const uglify        = require('gulp-uglify');
            const browserSync   = require('browser-sync');

            // setting : PATH
            const paths = {
              'root'      : './dist',
              'pug'       : './src/pug/**/*.pug',
              'html'      : './dist/**/*.html',
              'cssSrc'    : './src/scss/**/*.scss',
              'cssDist'   : './dist/css/',
              'jsSrc'     : './src/js/**/*.js',
              'jsDist'    : './dist/js/'
            }

            // gulpコマンドの省略
            const { watch, series, task, src, dest, parallel} = require('gulp');

            // Sass
            task('sass', function() {
              return(
                src(paths.cssSrc)
                .pipe(plumber({errorHandler: notify.onError("Error: <%= error.message %>")}))
                .pipe(sass({
                  outputStyle: 'expanded' // Minifyするなら 'compressed'
                }))
                .pipe(autoprefixer({
                  browsers: ['ie >= 11'],
                  cascade: false,
                  grid: true
                }))
                .pipe(dest(paths.cssDist))
              );
            });

            // Pag
            task('Pug', function () {
              return(
                src(paths.pug, '!./src/pug/**/*.pug')
                .pipe(plumber({errorHandler: notify.onError("Error: <%= error.message %>")}))
                .pipe(pug({
                  pretty: true,
                  basedir: "./src/pug"
                }))
                .pipe(dest(paths.html))
              );
            });

            // JS Compress
            task('js', function(){
              return(
                src(paths.jsSrc)
                .pipe(plumber())
                .pipe(uglify())
                .pipe(dest(paths.jsDist))
              );
            });

            // browser-sync
            task('browser-sync', () => {
              return browserSync.init({
                server:{
                  baseDir: paths.root
                },
                port: 8000,
                reloadOnRestart: true
              });
            });

            // browser-sync reload
            task('reload', (done) => {
              browserSync.reload();
              done();
            });

            // watch
            task('watch', (done) => {
              watch([paths.cssSrc], series('sass', 'reload'));
              watch([paths.jsSrc], series('js', 'reload'));
              watch([paths.pug], series('pug', 'reload'));
              done();
            });
            task('default', parallel('watch', 'browser-sync'));
          </code>
        </pre>
      </ul>
      

      <hr class="line-dark">
      <h2 class="text-bright">node.jsでのデータベースアクセス</h2>
      <p>
        node.jsやSQLite3のデータベースファイルを格納しておくディレクトリ（フォルダ）をつくります。<br>
        ディレクトリの場所はお好みの場所で構いません。<br>
        不安な方は、HOMEディレクトリ直下に作ることをお勧めします。
      </p>
      <p>
        ディレクトリを作ってそこに入ったら、ターミナルから次のコマンドを入力しnode.jsでSQLite3にアクセスできるようにします。
      </p>
      <pre>
        <code>
          npm install sqlite3
        </code>
      </pre>
      <h5>SQLite3のデータベースファイル作成</h5>
      <p>
        SQLite3のコマンドでデータベースを作成しておきます。<br>
        データベースを作ったら、<code>ctrl+d</code>でsqlite3のコンソールから抜けましょう。
      </p>
      <pre>
        <code>
          sqlite3 test.db
        </code>
      </pre>
      <h5>node.jsのファイル作成</h5>
      <p>
        データベースファイルを定義したフォルダの中にJavaScriptのファイルを作ります。
      </p>
      <pre>
        <code>
          touch testAccess.js
        </code>
      </pre>
      <h5>データベースアクセスのコードを書こう！！</h5>
      <div class="media">
        <pre>
          <code>
            // SQLite3を使う準備
            var sqlite3 = require('sqlite3').verbose();
            // DBファイルを指定
            var db = new sqlite3.Database('test.db');

            // DB操作
            db.serialize(() => {
              // テーブルを初期化
              dataInitialize();

              // データを格納
              insertData('Sasaki');
              insertData('Satou');
              insertData('Takahashi');

              // 格納したデータを抽出
              selectAll();

              // データを更新
              updateData('Takahashi', 'Tanaka');

              // 格納したデータを抽出
              selectAll();

              // データを削除
              deleteData('Tanaka');

              // 格納したデータを抽出
              selectAll();
            });
            db.close();


            /**
            * テーブルの初期化メソッド
            */
            function dataInitialize() {
              // テーブルを削除
              db.run('DROP TABLE testTable');

              // テーブルを定義
              db.run("CREATE TABLE testTable (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT)");
              console.log("テーブルの初期化完了");
            }

            /**
            * SELECT文：DBのデータを抽出メソッド
            */
            function selectAll() {
              db.each("SELECT * FROM testTable", (error, row) => {
                if(error) {
                  console.error("Error", error);
                  return;
                }
                console.log(row.id + ' | ' + row.name);
              });
            }

            /**
            * INSERT文：データを新規に格納するメソッド
            * @param {新規追加の名前} name 
            */
            function insertData(name) {
              const stmt_insert = db.prepare("INSERT INTO testTable (name) VALUES (?)");
              stmt_insert.run(name);
              stmt_insert.finalize();
              console.log("データの格納完了");
            }

            /**
            * 既存のデータを更新するメソッド
            * @param {変更前の名前} oldName 
            * @param {変更後の名前} newName 
            */
            function updateData(oldName, newName) {
              const stmt_update = db.prepare("UPDATE testTable SET name = ? WHERE name = ?");
              stmt_update.run([newName, oldName]);
              stmt_update.finalize();
              console.log("データの更新完了");
            }

            /**
            * データを削除するメソッド
            * @param {削除する名前} name 
            */
            function deleteData(name) {
              const stmt_delete = db.prepare("DELETE FROM testTable WHERE name = ?");
              stmt_delete.run(name);
              stmt_delete.finalize();
              console.log("データの削除完了");
            }
          </code>
        </pre>
        <div class="media-body">
          <h5 class="mt-0">データベースの種類とパスの指定</h5>
          <p>
            <code>var sqlite3 = require('sqlite3').verbose();</code><br>
            「SQLite3データベースを使います」という宣言を変数<code>sqlite3</code>に格納しています。<br>
            <code>var db = new sqlite3.Database('test.db');</code><br>
            「test.db」というSQLite3データベースを定義して変数<code>db</code>に格納しています。<br>
            この2行を記述することで、データベースの種類とパス（データベースの場所と名前）を指定します。
          </p>
          <hr class="line-dark">
          <h5 class="mt-0">データベースアクセスの処理を記述</h5>
          <p>
            <code>db.serialize(() => {...});</code><br>
            <code>db.close();</code><br>
            このブロックでデータベースへのデータの追加・更新・削除・読込等の処理をどういった順序で行うのかを記述しています。<br>
            ここで呼び出している関数はブロックの後ろの方で記述しています。
          </p>
          <hr class="line-dark">
          <h5 class="mt-0">テーブルの初期化メソッド</h5>
          <p>
            今回のコードはテスト用コードということもあり、<code>DROP TABLE</code>文によるデーブルの削除と<br>
            <code>CREATE TABLE</code>文によるテーブルの定義を組み合わせた形でテーブルの初期化メソッドを定義しました。
          </p>
          <hr class="line-dark">
          <h5 class="mt-0">SELECT文：データの読込メソッド</h5>
          <p>
            SELECT文の場合のみコードの形が少し違っているので、注意が必要です。
            for文等の繰り返し文をつかなくても<code>db.each("SELECT文", (error, row) => {});</code>の記述だけで<br>
            SELECT文に応じたデータを抽出してくれます。
          </p>
          <hr class="line-dark">
          <h5 class="mt-0">INSERT文・UPDATE文・DELETE文のメソッド</h5>
          <p>
            INSERT文・UPDATE文・DELETE文の3つは共通点のある記述方法です。
            <code>db.prepare();</code>というメソッドを使うことでプレースホルダ(?)を用いてSQL文を記述することができます。<br>
            そのプレースホルダに引数をわたしてメソッドを定義しています。<br>
            それぞれのメソッドによってプレースホルダの数や記述箇所が異なるので注意が必要です。
          </p>
        </div><!-- /.media-body -->
      </div><!-- /.media -->
    </section>
    <!-- footer -->
    <footer class="footer">
      <div id="copyright"></div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <!-- my Javascript file -->
    <script src="../JavaScript/navbar.js"></script>
    <script src="../JavaScript/copyright.js"></script>
  </body>
</html>